<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyEyeHealth"
        tools:targetApi="33">
        <activity
            android:name=".vision_tools.color_blindness_test.ColorBlindTestActivity"
            android:exported="false"
            android:label="@string/title_activity_color_blind_test"
            android:theme="@style/Theme.MyEyeHealth" />
        <activity
            android:name=".vision_tools.tumblinge.activity.TumblingEActivity"
            android:exported="false" />
        <activity
            android:name=".reminders.RemindersActivity"
            android:exported="false"
            android:label="@string/title_activity_reminders"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.MyEyeHealth.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyEyeHealth">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".reminders.alarms.ReminderAlarmReciever"
            android:exported="true"></receiver>
    </application>

</manifest>